In [17]:
import mysql.connector

In [18]:
class LibraryDatabase:
    def __init__(self):
        # Criação de um banco de dados - Só é necessário executar uma vez
        # Para Verificar quais os bancos existentes execute o comando: show databases;  no terminal do mysql
        
        self.mydb = mysql.connector.connect(host="localhost",user="root",password="jasbhisto",database="librarydatabase")
        self.mycursor = self.mydb.cursor()
        self.TableAlreadyExists = False
        
        # Criação de um banco de dados - Só é necessário executar uma vez
        # Para Verificar quais os bancos existentes execute o comando: show databases;  no terminal do mysql

        # self.mycursor = self.mydb.cursor()
        # self.mycursor.execute("CREATE DATABASE LibraryDatabase")
        
    def get_connection_id(self):
        # Retorna o id da conexão
        print("\nConection Id:",self.mydb.connection_id)
        
    def create_table(self):
        
        # use LibraryDatabase; -> comando para selecionar o banco de dados
        # show tables; -> comando para verificar as tabelas existentes no banco de dados

        # Criar tabela com as colunas : Código, Nome, Autor, Ano, Editora, Edição, Páginas, Preço, Quantidade, Categoria e Idioma
        # Código -> Chave Primária (Primary Key)
        # Criação de um cursor para executar comandos SQL
        if self.TableAlreadyExists:
            return
        else:
            table = "CREATE TABLE books (id INT AUTO_INCREMENT PRIMARY KEY, code VARCHAR(255), name VARCHAR(255), author VARCHAR(255), year INT, publisher VARCHAR(255), edition INT, pages INT, price FLOAT, quantity INT, category VARCHAR(255), language VARCHAR(255))"
            self.mycursor.execute(table)
            self.TableAlreadyExists = True
        # Para verificar as tabelas existentes no banco de dados execute o comando: show tables; no terminal do mysql -> use desc nome_da_tabela para verificar as colunas existentes na tabela
        
    def delete_table(self):
        
        # Deletar a tabela
        if not self.TableAlreadyExists:
            print("\nDrop Fail - Table does not exist")
            return
        
        else:
            self.mycursor.execute("DROPED TABLE books")
            self.TableAlreadyExists = False
        

    def insert_book(self, code, name, author, year, publisher, edition, pages, price, quantity, category, language):
        
        # Inserir um livro na tabela
        sql = "INSERT INTO books (code, name, author, year, publisher, edition, pages, price, quantity, category, language) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        val = (code, name, author, year, publisher, edition, pages, price, quantity, category, language)
        self.mycursor.execute(sql, val)
        self.mydb.commit()
        print(self.mycursor.rowcount, "record inserted.")   
        
    def delete_book(self, code):
        
        # Deletar um livro da tabela
        
        if self.mycursor.rowcount == 0:
            print("No records found")
        else:
            # Verificar código do livro
            self.mycursor.execute("SELECT * FROM books WHERE code = %s", (code,))
            result = self.mycursor.fetchone()

            if result is None:
                print("No records found - Code does not exist")
            else:
                sql = "DELETE FROM books WHERE code = %s"
                val = (code,)
                self.mycursor.execute(sql, val)
                self.mydb.commit()
                print("Book of code",code,"sucessfull deleted.")
                print(self.mycursor.rowcount, "record(s) deleted.")
  
  
    def update_book(self, code, name, author, year, publisher, edition, pages, price, quantity, category, language):
        
        if self.mycursor.rowcount == 0:
            print("No records found")
            
        else:
            
            #verificar código do livro e atualizar os valores
            
            self.mycursor.execute("SELECT * FROM books WHERE code = %s", (code,))
            result = self.mycursor.fetchone()
            
            if result is None:
                print("No records found - Code does not exist")
                
            else:
                
                sql = "UPDATE books SET name = %s, author = %s, year = %s, publisher = %s, edition = %s, pages = %s, price = %s, quantity = %s, category = %s, language = %s WHERE code = %s"
                self.mycursor.execute(sql, (name, author, year, publisher, edition, pages, price, quantity, category, language, code))
                self.mydb.commit()
                
                print(self.mycursor.rowcount, "record(s) affected")
                print("Book of code",code,"sucessfull updated.")            
                
        


    def Show_Table(self):
        # Mostrar a tabela
        self.mycursor.execute("SELECT * FROM books")
        if self.mycursor.rowcount == 0:
            print("No records found")
            
        else:
            
            print("Records found:\n")
            myresult = self.mycursor.fetchall()
            for x in myresult:
                #Printar os valores de cada coluna de forma organizada
                print("Id:",x[0],"\nCode:",x[1],"\nName:",x[2],"\nAuthor:",x[3],"\nYear:",x[4],"\nPublisher:",x[5],"\nEdition:",x[6],"\nPages:",x[7],"\nPrice:",x[8],"\nQuantity:",x[9],"\nCategory:",x[10],"\nLanguage:",x[11],"\n\n")

In [19]:
Library = LibraryDatabase()

In [20]:
Library.get_connection_id()
Library.create_table()
insert_book = Library.insert_book("123", "O Senhor dos Anéis", "J.R.R. Tolkien", 1954, "HarperCollins", 1, 1178, 49.90, 10, "Fantasia", "Português")
Library.Show_Table()

Conection Id: 18

ProgrammingError: 1050 (42S01): Table 'books' already exists